<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desafio Nena</title>
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
</head>
<body>
  
  <header>
    <div class="container-fluid g-0">
      <div class="row">
        <div class="col-md-12">
          <nav>
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <img src="assets/images/logo.png" class="logo">
                  <img src="assets/images/desafio-logo.png" class="logo-challenge">
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row second-row">
        <div class="col-md-12">
          <div class="rif">
            <span>J-08518977-7</span>
          </div>
          <div class="bg-main">
            <div class="container">
              <div class="row">
                <div class="col-md-5 offset-md-7 form-container d-flex" id="form">
                  <form @submit.prevent="onSubmit">
                    <div class="mt-5 pt-2">
                      <h2>
                        Inscribe <strong>al equipo de tu farmacia</strong> y regálales un <strong>fin de semana en margarita</strong> con todo pago!
                      </h2>
                      <h3>Registra tu equipo</h3>
                      <div>
                        <div class="row">
                          <div class="col-md-12">
                            <input v-model="form.name" placeholder="Nombre de la farmacia" type="text" class="form-control" :class="{ 'is-invalid': v$.form.name.$error }">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <input v-model="form.rif" placeholder="RIF" type="text" class="form-control"  :class="{ 'is-invalid': v$.form.rif.$error }">
                          </div>
                          <div class="col-md-6">
                            <input v-model="form.ci" placeholder="C.I." type="text" class="form-control"  :class="{ 'is-invalid': v$.form.ci.$error }">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <input v-model="form.state" placeholder="Estado" type="text" class="form-control" :class="{ 'is-invalid': v$.form.state.$error }">
                          </div>
                          <div class="col-md-6">
                            <input v-model="form.city" placeholder="Cuidad" type="text" class="form-control" :class="{ 'is-invalid': v$.form.city.$error }">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <p>Miembros del equipo que se <strong>inscribirá en el concurso.</strong></p>
                          </div>
                        </div>
                        <div class="row" v-for="(participant, index) of form.participants" :key="index">
                          <div class="col-md-6">
                            <input v-model="participant.name" placeholder="Nombre" type="text" class="form-control" :class="{ 'is-invalid': v$.form.participants.$each.$response.$errors[index].name.length }">
                          </div>
                          <div class="col-md-6">
                            <input v-model="participant.ci" placeholder="C.I." type="text" class="form-control" :class="{ 'is-invalid': v$.form.participants.$each.$response.$errors[index].ci.length }">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <button>Enviar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row blue-brand">
        <div class="col-md-12">
          <div class="container">
            <div class="row">
              <div class="col-md-2 offset-md-1">
                <img src="assets/images/island.png">
              </div>
              <div class="col-md-8">
                <h3>
                  <strong>1er premio:</strong> 1 viaje a margarita para 5 personas <strong>+ premios semanales</strong> para los ganadores de los retos
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="section-1">
      <div class="container">
        <div class="row">
          <div class="col-md-2 offset-md-3">
            <h2>De qué se <strong>trata?</strong></h2>
          </div>
          <div class="col-md-5">
            <p>
              Se trata de un <strong>desafío dirigido a las farmacias</strong> aliadas de Dronena: Cada farmacia deberá inscribir un team de <strong>2 hasta 5 personas</strong> de su equipo
            </p>
            <p>
              Cada semana los Teams de cada farmacia deberán <strong>cumplir un desafío a la excelencia digital.</strong> Para participar, durante 4 semanas, por <strong>premios semanales y un viaje a margarita todo incluido para el equipo ganador.</strong>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section-2">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3" id="numbers">
            <div class="orange-box-container">
              <div class="orange-box">
                <h2>5 reto durante 4 semanas</h2>
                <h3>del 28 de agosto al 25 de septiembre</h3>
              </div>
              <p>INSCRIBE AL EQUIPO DE TU FARMACIA DEL 21 AL 27 DE AGOSTO</p>
            </div>
            <ul>
              <li 
                v-for="element of elements"
                :key="element.id"
                :class="{'active': current == element}"
                @click="change(element)"
              ><span>{{ element.id }}</span></li>
            </ul>
            <div class="challenge-text">
              <p>
                {{ current.text }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-3">
      <div class="container-fluid g-0">
        <div class="top">
          <img src="assets/images/37.png" alt="">
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="container list">
              <div class="col-md-10 offset-md-1">
                <h2 class="text-center">Importante</h2>
                <ul>
                  <li>
                    Las farmacias podrán inscribir a sus equipos del 21 al 27 de Agosto registrando los datos esta landing page.
                  </li>
                  <li>
                    El 23 de Abril anunciaremos el primer reto que las farmacias podrán hacer desde el 28 al 31 de Agosto.
                  </li>
                  <li>
                    El 30 de Agosto anunciaremos el segundo reto que las farmacias podrán hacer desde el 4 al 8 de Septiembre.
                  </li>
                  <li>
                    El 6 de Septiembre anunciaremos el tercer reto, que las farmacias pordrán hacer desde el 11 de septiembre al 14 de septiembre.
                  </li>
                  <li>
                    El 13 de Septiembre anunciaremos el 4to reto que las farmacias pordrán hacer desde de septiembre al 21 de septiembre.
                  </li>
                </ul>
              </div>
              <div class="col-md-6 offset-md-3 d-flex justify-content-center align-items-center">
                <div class="link">
                  <p>
                    Consulta las <strong>preguntas frecuentes</strong>
                    <a href="#">AQUÍ</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-4">
      <div class="container">
        <div class="row">
          <div class="offset-md-2 col-md-8">
            <h2>
              ¿Como funcionará <strong><br>el desafío?</strong>
            </h2>
          </div>
          <div class="offset-md-2 col-md-8">
            <div class="custom-card">
              <img class="icon" src="assets/images/custom-card-logo-1.png">
              <p>
                Dronena haría la convocatoria a las farmacias
                por <strong>mailing, social y web</strong> y las farmacias podrán
                registrar sus <strong>“equipos”</strong> en una <strong>landing de campaña.</strong>
                Cada equipo podrá estar conformado por <strong>máximo
                  5 trabajadores de la farmacia.</strong>
              </p>
            </div>
          </div>
          <div class="offset-md-2 col-md-8">
            <div class="custom-card light">
              <img class="icon" src="assets/images/custom-card-logo-2.png">
              <p>
                <strong>Cada semana</strong> desde las redes sociales de Dronena
                <strong>se publicarán retos destinados a las farmacias</strong> que
                los participantes de cada farmacia deberán cumplir
                para participar. Cada farmacia participante <strong>acumulará
                  puntos</strong> que se sumarán para el premio final.
              </p>
            </div>
          </div>
          <div class="offset-md-2 col-md-8">
            <div class="custom-card">
              <img class="icon" src="assets/images/custom-card-logo-3.png">
              <p>
                Las farmacias deberán <strong>subir sus retos en sus Instagrams</strong>
                usando en HT <strong>#DesafíoNena37</strong> y etiquetando a
                <strong>@dronena.</strong> Los retos podrán involucrar <strong>productos
                  de los proveedores, fotografía, video e incluso
                  retos de atención al cliente por whatsapp.</strong>
              </p>
            </div>
          </div>
          <div class="offset-md-2 col-md-8">
            <div class="custom-card light">
              <img class="icon" src="assets/images/custom-card-logo-4.png">
              <p>
                Cada semana las farmacias que participen <strong>acumularán
                  puntos</strong> y las que ganen <strong>acumularán aún más.</strong>
                Estos puntos se acumularán para el premio final.
                Cada farmacia participante acumulará puntos
                que se <strong>sumarán.</strong>
              </p>
            </div>
          </div>
          <div class="col-md-12 text-center link">
            <a href="#">REGISTRARSE EN EL CONCURSO</a>
          </div>
        </div>
      </div>
    </section>

    <section class="section-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>¿Quieres <strong>saber mas?</strong></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 video-container">
            <!-- <iframe src="https://www.youtube.com/embed/aFfWlZ0_OSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
          </div>
          <div class="col-md-5 offset-md-1 right">
            <h3>Mira este <strong>video.</strong></h3>
            <h4>o síguenos en las redes sociales como <a href="#"><strong>@dronenave</strong></a></h4>
            <ul class="social">
              <li><a href="#"><img src="assets/images/instagram.png" alt=""></a></li>
              <li><a href="#"><img src="assets/images/facebook.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-demi"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vuelidate/core"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vuelidate/validators"></script>
  <!-- <script src="vendor/vue/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.7"></script> -->
  <script>
    const { createApp } = Vue;

    var initial_elements = [
      {
        id: 1,
        text: 'Sube un trend de tiktok o reel frente o dentro de tu farmacia usando el HT #desafíonena y etiquetando a @drovena.ve'
      },
      {
        id: 2,
        text: '#2 Sube un trend de tiktok o reel frente o dentro de tu farmacia usando el HT #desafíonena y etiquetando a @drovena.ve'
      },
      {
        id: 3,
        text: '#3 Sube un trend de tiktok o reel frente o dentro de tu farmacia usando el HT #desafíonena y etiquetando a @drovena.ve'
      },
      {
        id: 4,
        text: '#4 Sube un trend de tiktok o reel frente o dentro de tu farmacia usando el HT #desafíonena y etiquetando a @drovena.ve'
      },
      {
        id: 5,
        text: '#5 Sube un trend de tiktok o reel frente o dentro de tu farmacia usando el HT #desafíonena y etiquetando a @drovena.ve'
      },
    ];
    var vm1 = createApp({
      data: function () {
        return {
          elements: initial_elements,
          current: initial_elements[0]
        }
      },
      methods: {
        change: function (newElement) {
          this.current = newElement
        }
      } 
    });
    vm1.mount('#numbers')

    var vm2 = createApp({
      setup () {
        return { v$: Vuelidate.useVuelidate() }
      },
      data: function () {
        return {
          form: {
            name: '',
            rif: '',
            ci: '',
            state: '',
            city: '',
            participants: [
              {
                name: '',
                ci: ''
              },
              {
                name: '',
                ci: ''
              },
              {
                name: '',
                ci: ''
              },
              {
                name: '',
                ci: ''
              },
              {
                name: '',
                ci: ''
              },
            ]
          }
        }
      },
      methods: {
        onSubmit: async function () {
          let isValid = await this.v$.$validate()
          console.log(this.v$)
          if (!isValid) return

          // console.log('Enviado!!', this.form.participants.$each.$response.$errors[0])
        }
      },
      mounted: function () {
        this.v$.$reset()
        console.log(this.v$)
      },
      validations: function () {
        return {
          form: {
            name: {
              required: VuelidateValidators.required
            },
            rif: {
              required: VuelidateValidators.required
            },
            ci: {
              required: VuelidateValidators.required
            },
            state: {
              required: VuelidateValidators.required
            },
            city: {
              required: VuelidateValidators.required
            },
            participants: {
              $each: VuelidateValidators.helpers.forEach({
                name: {
                  required: VuelidateValidators.required
                },
                ci: {
                  required: VuelidateValidators.required
                }
              })
            }
          }
        }
      }
    })
    vm2.use(Vuelidate)
    vm2.mount('#form')
  </script>
</body>
</html>