header {
  background-image: url('../images/header--background.jpg');
  background-position: center;
  background-size: cover;
  .second-row {
    position: relative;
    .rif {
      background-color: rgba(255, 255, 255, 0.413);
      padding: 0 5px;
      border-radius: 4px;
      position: absolute;
      transform: rotate(90deg);
      position: absolute;
      transform: rotate(270deg);
      top: 50px;
      left: -11px;
      span {
        color: $primary;
      }
      @media screen and (max-width: 620px) {
        display: none;
      }
    }
  }
  nav {
    background-color: $primary;
    padding-top: 12px;
    padding-bottom: 12px;
    img { 
      width: 100%
    }
    .logo {
      max-width: 45px;
      margin-right: 30px;
    }
    .logo-challenge {
      max-width: 130px;
    }
  }
  .image-container {
    img {
      width: 100%;
    }
  }
  .form-container {
    margin-bottom: 50px;
    h2, h3 {
      text-align: center;
      color: $primary;
    }
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 26px;
      font-weight: bold;
    }
    .row {
      margin-bottom: 8px;
      .col {
        padding-right: 0;
      }
      p {
        color: white;
        font-size: 16.5px;
        text-align: justify;
        margin-bottom: 2px;
      }
      input {
        &::placeholder {
          font-size: 12px;
        }
      }
    }
    button {
      width: 100%;
      border-radius: 5px;
      padding: 8px;
      background-color: $primary;
      color: white;
      border: 1px solid $primary;
      transition: all .3s ease;
      font-size: 14px;
      font-weight: bold;
      &:hover {
        background-color: white;
        color: $primary
      }
    }
  }
  .blue-brand {
    background-color: $primary;
    color: white;
    padding: 10px 0;
    .col-md-2 {
      img {
        width: 100%;
      }
    }
    .col-md-8 {
      display: flex;
      align-items: center;
      h3 {
        font-size: 22px;
        font-weight: 300;
        strong {
          font-weight: bold;
        }     
      }
    }
  }
}