.section-2 {
  margin-top: 90px;
  .orange-box-container {
    .orange-box {
      position: relative;
      background-color: $orange;
      color: white;
      padding: 6px 30px;
      border-radius: 18px;
      &::before, &::after {
        position: absolute;
        width: 27px;
        height: 100%;
        background-color: #ffb661;
        transform: rotate(12deg);
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
      &::before {
        content: "";
        left: -6px;
        top: -1px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 30px;
      }
      &::after {
        content: "";
        right: -6px;
        top: 2px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 30px;
      }
      h2, h3 {
        text-align: center;
      }
      h2 {
        font-size: 38px;
        margin-bottom: 2px;
        font-weight: 800;
        position: relative;
      }
      h3 {
        font-size: 18px;
        font-weight: 400;
      }
      @media screen and (max-width: 767px) {
         h2 {
          font-size: 26px;
         }
      }
    }
    p {
      margin-top: 2px;
      text-align: center;
      font-size: 11px;
      color: $primary;
      font-weight: bold;
    }
  }
  ul {
    position: relative;
    z-index: 20;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    li {
      transition: all .3s ease;
      font-family: Covanro;
      cursor: pointer;
      background-color: white;
      color: $primary;
      margin: 10px 16px;
      font-size: 35px;
      &:not(.active) {
        margin-top: 18px;
        background-color: transparent;
      }
      &.active {
        padding: 10px 9px 4px 10px;
        border: 4px solid skyblue;
        border-radius: 50%;
        span {
          background-color: $primary;
          color: skyblue;
          border-radius: 50%;
          padding: 12px 18px 7px 20px;
        }
        &:not(:first-child) {
          span {
            padding: 12px 13px 7px 17px;
          }
        }
      }
    }
  }
  .challenge-text {
    position: relative;
    top: -25px;
    background-color: $light-gray;
    border-radius: 10px;
    padding: 30px 60px;
    p {
      font-size: 18px;
      text-align: center;
      color: $primary
    }
  }
}