.section-5 {
  background-image: url('../images/blue-background.jpg');
  background-size: cover;
  background-position: center;
  padding: 120px 0 150px 0;
  h2, h3, h4 {
    color: white;
  }
  h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 60px;
  }
  iframe {
    width: 100%;
    min-height: 400px;
  }
  .right {
    img {
      width: 100%;
      max-width: 60px;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    h3 {
      font-size: 35px;
      margin-bottom: 2px;
    }
    h4 {
      font-size: 25px;
      font-weight: 300;
      a {
        color: white;
        text-decoration: none;
      }
    }
    ul {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      li {
        margin-right: 13px;
        img {
          width: 35px;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 60px 0 80px 0;
  }
}