.section-4 {
  padding-top: 80px;
  padding-bottom: 40px;
  background-image: url('./../images/challenge-background.png');
  background-position: center;
  background-size: cover;
  h2 {
    text-align: center;
    color: $primary;
    font-size: 38px;
    margin-bottom: 20px;
  }
  .link {
    margin-bottom: 60px;
    a {
      text-decoration: none;
      color: white;
      font-size: 21px;
      font-weight: 800;
      background-color: $primary;
      border-radius: 12px;
      padding: 10px 20px;
    }
  }
  .custom-card {
    margin: 65px 0;
    position: relative;
    padding: 36px 50px;
    color: white;
    border-radius: 30px;
    background-color: $light-primary;
    &::after, &::before {
      transform: rotate(8deg);
      content: "";
      height: 99%;
      width: 59px;
      position: absolute;
      display: block;
      background-color: $light-primary;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    &::after {
      right: -18px;
      top: 3px;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 30px;
    }
    &::before {
      left: -18px;
      top: -1px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 30px;
      }
    &.light {
      color: $primary;
      background-color: $light-gray;
      &::after {
        background-color: $light-gray;
      }
      &::before {
        background-color: $light-gray;
      }
    }
    p {
      font-size: 22px;
    }
    img {
      position: absolute;
      width: 100%;
      max-width: 200px;
      top: -75px;
      left: -63px;
    }
    @media screen and (max-width: 767px) {
      img {
        position: initial;
        max-width: 130px;   
      }
      p {
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }
}