.section-1 {
  margin-top: 80px;
  h2, p {
    color: $primary;
    font-weight: 300;
    strong {
      font-weight: bold;
    }
  }
  h2 {
    text-align: right;
  }
  p {
    font-size: 18px;
  }
  @media screen and (max-width: 767px) {
    h2 {
      text-align: center;
    }
  }
}