.section-3 {
  margin-top: 50px;
  background-color: $light-primary;
  h2, ul > li {
    color: white;
  }
  .top {
    @media screen and (max-width: 767px) {
      display: none;
    }
    position: relative;
    img {
      width: 100%;
      max-width: 150px;
      position: absolute;
      top: -98px;
    }
  }
  .list {
    h2 {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 38px;
    }
    ul {
      list-style: none;
      padding-left: 20px;
      li {
        position: relative;
        font-size: 20px;
        margin-bottom: 30px;
        &::before {
          content: "";
          position: absolute;
          background-color: #5bdaeb;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          left: -45px;
          top: 15px;
        }
        @media screen and (max-width: 767px) {
          font-size: 16px;
          &::before {
            left: -25px;
          }
        }
      }
    }
    .link {
      color: white;
      padding: 10px 15px;
      background-color: rgba(255, 255, 255, 0.235);
      border-radius: 5px;
      margin-bottom: 50px;
      p {
        font-size: 24px;
        margin-bottom: 0;
        a {
          background-color: white;
          color: $primary;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          padding: 5px 10px;
          border-radius: 5px;
        }
      }
      @media screen and (max-width: 767px) {
        p {
          font-size: 15px;
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}