@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap");
@font-face {
  font-family: Covanro;
  src: url("./../fonts/Covanro.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h2, h3, h4 {
  font-weight: 300;
}

strong {
  font-weight: 600;
}

header {
  background-image: url("../images/header--background.jpg");
  background-position: center;
  background-size: cover;
}
header .second-row {
  position: relative;
}
header .second-row .rif {
  background-color: rgba(255, 255, 255, 0.413);
  padding: 0 5px;
  border-radius: 4px;
  position: absolute;
  transform: rotate(90deg);
  position: absolute;
  transform: rotate(270deg);
  top: 50px;
  left: -11px;
}
header .second-row .rif span {
  color: #012169;
}
@media screen and (max-width: 620px) {
  header .second-row .rif {
    display: none;
  }
}
header nav {
  background-color: #012169;
  padding-top: 12px;
  padding-bottom: 12px;
}
header nav img {
  width: 100%;
}
header nav .logo {
  max-width: 45px;
  margin-right: 30px;
}
header nav .logo-challenge {
  max-width: 130px;
}
header .image-container img {
  width: 100%;
}
header .form-container {
  margin-bottom: 50px;
}
header .form-container h2, header .form-container h3 {
  text-align: center;
  color: #012169;
}
header .form-container h2 {
  font-size: 22px;
}
header .form-container h3 {
  font-size: 26px;
  font-weight: bold;
}
header .form-container .row {
  margin-bottom: 8px;
}
header .form-container .row .col {
  padding-right: 0;
}
header .form-container .row p {
  color: white;
  font-size: 16.5px;
  text-align: justify;
  margin-bottom: 2px;
}
header .form-container .row input::placeholder {
  font-size: 12px;
}
header .form-container button {
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  background-color: #012169;
  color: white;
  border: 1px solid #012169;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: bold;
}
header .form-container button:hover {
  background-color: white;
  color: #012169;
}
header .blue-brand {
  background-color: #012169;
  color: white;
  padding: 10px 0;
}
header .blue-brand .col-md-2 img {
  width: 100%;
}
header .blue-brand .col-md-8 {
  display: flex;
  align-items: center;
}
header .blue-brand .col-md-8 h3 {
  font-size: 22px;
  font-weight: 300;
}
header .blue-brand .col-md-8 h3 strong {
  font-weight: bold;
}

.section-1 {
  margin-top: 80px;
}
.section-1 h2, .section-1 p {
  color: #012169;
  font-weight: 300;
}
.section-1 h2 strong, .section-1 p strong {
  font-weight: bold;
}
.section-1 h2 {
  text-align: right;
}
.section-1 p {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .section-1 h2 {
    text-align: center;
  }
}

.section-2 {
  margin-top: 90px;
}
.section-2 .orange-box-container .orange-box {
  position: relative;
  background-color: #ffb661;
  color: white;
  padding: 6px 30px;
  border-radius: 18px;
}
.section-2 .orange-box-container .orange-box::before, .section-2 .orange-box-container .orange-box::after {
  position: absolute;
  width: 27px;
  height: 100%;
  background-color: #ffb661;
  transform: rotate(12deg);
}
@media screen and (max-width: 767px) {
  .section-2 .orange-box-container .orange-box::before, .section-2 .orange-box-container .orange-box::after {
    display: none;
  }
}
.section-2 .orange-box-container .orange-box::before {
  content: "";
  left: -6px;
  top: -1px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 30px;
}
.section-2 .orange-box-container .orange-box::after {
  content: "";
  right: -6px;
  top: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
}
.section-2 .orange-box-container .orange-box h2, .section-2 .orange-box-container .orange-box h3 {
  text-align: center;
}
.section-2 .orange-box-container .orange-box h2 {
  font-size: 38px;
  margin-bottom: 2px;
  font-weight: 800;
  position: relative;
}
.section-2 .orange-box-container .orange-box h3 {
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .section-2 .orange-box-container .orange-box h2 {
    font-size: 26px;
  }
}
.section-2 .orange-box-container p {
  margin-top: 2px;
  text-align: center;
  font-size: 11px;
  color: #012169;
  font-weight: bold;
}
.section-2 ul {
  position: relative;
  z-index: 20;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}
.section-2 ul li {
  transition: all 0.3s ease;
  font-family: Covanro;
  cursor: pointer;
  background-color: white;
  color: #012169;
  margin: 10px 16px;
  font-size: 35px;
}
.section-2 ul li:not(.active) {
  margin-top: 18px;
  background-color: transparent;
}
.section-2 ul li.active {
  padding: 10px 9px 4px 10px;
  border: 4px solid skyblue;
  border-radius: 50%;
}
.section-2 ul li.active span {
  background-color: #012169;
  color: skyblue;
  border-radius: 50%;
  padding: 12px 18px 7px 20px;
}
.section-2 ul li.active:not(:first-child) span {
  padding: 12px 13px 7px 17px;
}
.section-2 .challenge-text {
  position: relative;
  top: -25px;
  background-color: #f3f3f6;
  border-radius: 10px;
  padding: 30px 60px;
}
.section-2 .challenge-text p {
  font-size: 18px;
  text-align: center;
  color: #012169;
}

.section-3 {
  margin-top: 50px;
  background-color: #1478fd;
}
.section-3 h2, .section-3 ul > li {
  color: white;
}
.section-3 .top {
  position: relative;
}
@media screen and (max-width: 767px) {
  .section-3 .top {
    display: none;
  }
}
.section-3 .top img {
  width: 100%;
  max-width: 150px;
  position: absolute;
  top: -98px;
}
.section-3 .list h2 {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 38px;
}
.section-3 .list ul {
  list-style: none;
  padding-left: 20px;
}
.section-3 .list ul li {
  position: relative;
  font-size: 20px;
  margin-bottom: 30px;
}
.section-3 .list ul li::before {
  content: "";
  position: absolute;
  background-color: #5bdaeb;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: -45px;
  top: 15px;
}
@media screen and (max-width: 767px) {
  .section-3 .list ul li {
    font-size: 16px;
  }
  .section-3 .list ul li::before {
    left: -25px;
  }
}
.section-3 .list .link {
  color: white;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.235);
  border-radius: 5px;
  margin-bottom: 50px;
}
.section-3 .list .link p {
  font-size: 24px;
  margin-bottom: 0;
}
.section-3 .list .link p a {
  background-color: white;
  color: #012169;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  padding: 5px 10px;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .section-3 .list .link p {
    font-size: 15px;
  }
  .section-3 .list .link p a {
    font-size: 16px;
  }
}

.section-4 {
  padding-top: 80px;
  padding-bottom: 40px;
  background-image: url("./../images/challenge-background.png");
  background-position: center;
  background-size: cover;
}
.section-4 h2 {
  text-align: center;
  color: #012169;
  font-size: 38px;
  margin-bottom: 20px;
}
.section-4 .link {
  margin-bottom: 60px;
}
.section-4 .link a {
  text-decoration: none;
  color: white;
  font-size: 21px;
  font-weight: 800;
  background-color: #012169;
  border-radius: 12px;
  padding: 10px 20px;
}
.section-4 .custom-card {
  margin: 65px 0;
  position: relative;
  padding: 36px 50px;
  color: white;
  border-radius: 30px;
  background-color: #1478fd;
}
.section-4 .custom-card::after, .section-4 .custom-card::before {
  transform: rotate(8deg);
  content: "";
  height: 99%;
  width: 59px;
  position: absolute;
  display: block;
  background-color: #1478fd;
}
@media screen and (max-width: 767px) {
  .section-4 .custom-card::after, .section-4 .custom-card::before {
    display: none;
  }
}
.section-4 .custom-card::after {
  right: -18px;
  top: 3px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 30px;
}
.section-4 .custom-card::before {
  left: -18px;
  top: -1px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 30px;
}
.section-4 .custom-card.light {
  color: #012169;
  background-color: #f3f3f6;
}
.section-4 .custom-card.light::after {
  background-color: #f3f3f6;
}
.section-4 .custom-card.light::before {
  background-color: #f3f3f6;
}
.section-4 .custom-card p {
  font-size: 22px;
}
.section-4 .custom-card img {
  position: absolute;
  width: 100%;
  max-width: 200px;
  top: -75px;
  left: -63px;
}
@media screen and (max-width: 767px) {
  .section-4 .custom-card img {
    position: initial;
    max-width: 130px;
  }
  .section-4 .custom-card p {
    margin-top: 10px;
    font-size: 16px;
  }
}

.section-5 {
  background-image: url("../images/blue-background.jpg");
  background-size: cover;
  background-position: center;
  padding: 120px 0 150px 0;
}
.section-5 h2, .section-5 h3, .section-5 h4 {
  color: white;
}
.section-5 h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 60px;
}
.section-5 iframe {
  width: 100%;
  min-height: 400px;
}
.section-5 .right img {
  width: 100%;
  max-width: 60px;
}
@media screen and (max-width: 767px) {
  .section-5 .right img {
    display: none;
  }
}
.section-5 .right h3 {
  font-size: 35px;
  margin-bottom: 2px;
}
.section-5 .right h4 {
  font-size: 25px;
  font-weight: 300;
}
.section-5 .right h4 a {
  color: white;
  text-decoration: none;
}
.section-5 .right ul {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.section-5 .right ul li {
  margin-right: 13px;
}
.section-5 .right ul li img {
  width: 35px;
}
@media screen and (max-width: 767px) {
  .section-5 {
    padding: 60px 0 80px 0;
  }
}

/*# sourceMappingURL=styles.css.map */
